@page
@model PersonnelInfo.Razor.Pages.Employee.IndexModel
@{
}


<div class="container">
    <table class="table text-center">
        <thead>
            <tr>
                @foreach (var item in Model.Headers)
                {
                    <th>@item</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    @foreach (var prop in Model.DtoProperties)
                    {
                        <th><input name="@prop.Name" value="@Model.GetType().GetProperty(prop.Name)?.GetValue(employee)" class="form-control" /></th>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
                    @Html.EditorForModel()